@import '../../../semantic/collections/menu.css';
@import '../../../semantic/collections/form.css';
@import '../../../semantic/modules/dropdown.css';
@import '../../../semantic/elements/icon.css';
@import '../../../semantic/elements/input.css';
@import '../../../semantic/elements/segment.css';
@import '../../../semantic/elements/button.css';
@import '../../../semantic/elements/label.css';
@import '../../../semantic/views/list.css';
html{font-size:12px;}
body{width:780px;height:480px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.red{color:red;}
.blue{color:blue;}
a{text-decoration:none;}

.logo{position:absolute;}
.tips{margin-left:65px;}
.countdown{display:inline-block;margin:0;}
.warn{margin-left:13em;}
.profile{float:right;color:#999;}
.ui.menu{margin-top:0.5rem;}
.ui.segment{height:430px;background:#FFFFCC;}
/* sub nav */
.ui.menu.vertical.subnav{width:1.5rem;display:inline-block;}
.ui.menu.vertical.subnav .item{padding:0.7rem 0.25rem;background:#fff;color:#999;}


/* panel */
.panel{display:inline-block;vertical-align:top;width:730px;}
.panel p{margin:0.5rem;}
.select{width:560px;display:inline-block;}
.select ul{style:none;margin:0;padding:0;}
.select ul li{display:inline-block;width:35px;float:left;text-align:center;}
.select .redselect{width: 350px;display: inline-block;border: 1px solid #eee;padding: 5px 3px;}
.select .blueselect{width:180px;display:inline-block;border: 1px solid #eee;padding: 5px 3px;}
/* .select .yl{margin-left:0.8em;} */
.select .ui.icon.button{padding:0.6em;}
.select .set{width:90px;}
.select .clear{width:55px;}
.set .ui.selection.dropdown{padding: 0.2em;margin-top: 0.3em;}
.clear .ui.mini.button{padding: 0.4em;margin-top: 0.3em;margin-left: -1.5em;}
.select .count{text-align:center;}
.select .code_list{background: #fff;height: 80px;padding: 5px;overflow-y:scroll;overflow-x:hidden;}
.select .code_list .del{float:right;}
.select .result{display:inline-block;width:320px;}
/* reporter */
.panel .reporter{display:inline-block;width:160px;height:400px;margin:-1.5rem 0 0 0.3rem;padding:0;vertical-align:top;background:#FFCCCC;}