@import '../../../semantic/collections/message.css';
@import '../../../semantic/collections/menu.css';
@import '../../../semantic/collections/form.css';
@import '../../../semantic/modules/dropdown.css';
@import '../../../semantic/modules/transition.css';
@import '../../../semantic/modules/dimmer.css';
@import '../../../semantic/elements/icon.css';
@import '../../../semantic/elements/input.css';
@import '../../../semantic/elements/segment.css';
@import '../../../semantic/modules/modal.css';
@import '../../../semantic/elements/button.css';
@import '../../../semantic/elements/label.css';
@import '../../../semantic/views/list.css';
html{font-size:12px;}
body{width:780px;max-height:480px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.red{color:red;}
.blue{color:blue;}
a{text-decoration:none;}
.none{display:none;}
.logo{position:absolute;left:12px;}
.tips{margin-left:65px;}
.countdown{display:inline-block;margin:0;}
.warn{margin-left:13em;}
.profile{float:right;color:#999;}
.ui.menu{margin-top:0.5rem;}
.ui.ssq-area{height:430px;background:#FFFFCC;}
/* sub nav */
.ui.menu.vertical.subnav{width:1.5rem;display:inline-block;}
.ui.menu.vertical.subnav .item{padding:0.7rem 0.25rem;background:#fff;color:#999;}


/* panel */
.panel{display:inline-block;vertical-align:top;width:730px;}
.panel p{margin:0.5rem;}
.select{width:560px;display:inline-block;}
.select ul{style:none;margin:0;padding:0;}
.select ul li{display:inline-block;width:35px;float:left;text-align:center;margin-bottom:2px;}
.select .redselect{width: 350px;display: inline-block;border: 1px solid #eee;padding: 5px 3px;}
.select .blueselect{width:180px;display:inline-block;border: 1px solid #eee;padding: 5px 3px;}
.select .yl{margin-left:0em;}
.select .yl:after{content:'.';height:0;width:0;display:block;line-height:0;visibility:hidden;}
.select .ui.icon.button{padding:0.6em;}
.select .set{width:90px;}
.select .clear{width:55px;}
.set .ui.selection.dropdown{padding: 0.2em;margin-top: 0.3em;}
.clear .ui.mini.button{padding: 0.4em;margin-top: 0.3em;margin-left: -1.5em;}
.select .count{text-align:center;}
.select .code_list{background: #fff;height: 80px;padding: 5px;overflow-y:scroll;overflow-x:hidden;}
.select .code_list .del{float:right;}   
.select .result{display:inline-block;width:320px;}
/* reporter */
.panel .reporter{display:inline-block;width:160px;height:400px;margin:-1.5rem 0 0 0.3rem;padding:0;vertical-align:top;background:#FFCCCC;}
/*  login reset */
.ui.modal{width:46%;margin-left:-23%;}

/* ------ */
.redarea,.bluearea{display:inline-block;text-align:center;}
.redarea{width:550px;}
.bluearea{width:220px;}
#red_r_num{margin-left:10em;}
#blue_r_num{margin-left:15em;}
.bet{text-align:center;}
.ui.menu.main-menu{background-color:#c70000;}
.ui.tiered.menu .sub.menu{background-color:#fff;}
.ui.compact.menu.code_basket{float:right;margin-top:-8px;margin-right:30px;color:red!important;}
.code_basket .item{color:red!important;}
.code_basket:after{content:'.';visibility:hidden;zoom:1;}
.code_list{display:inline-block;background: #fff;width:685px;height: 125px;padding: 5px;overflow-y:scroll;overflow-x:hidden;}
.ui.buttons.random_list{vertical-align:top;}

