<article class="betarea">
	<strong style="margin-left:2em;">玩法提示：</strong>至少选6个红球和1个蓝球组合成一注彩票，单注最高奖金<b class="red">1000万</b>元
	<div class="redarea select">
		<p><strong class="red">红球区 </strong>至少选择6个球</p>
		<ul>
			<li><div class="circular ui icon button">01</div><span class="yl">01</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">02</div><span class="yl">02</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">03</div><span class="yl">03</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">04</div><span class="yl">04</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">05</div><span class="yl">05</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">06</div><span class="yl">06</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">07</div><span class="yl">07</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">08</div><span class="yl">08</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">09</div><span class="yl">09</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">10</div><span class="yl">10</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">11</div><span class="yl">11</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">12</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">13</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">14</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">15</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">16</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">17</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">18</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">19</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">20</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">21</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">22</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">23</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">24</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">25</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">26</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">27</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">28</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">29</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">30</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">31</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">32</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">33</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			
		</ul>
	</div>
	<div class="bluearea select">
		<p><strong class="blue">蓝球区 </strong>至少选择1个球</p>
		<ul>
			<li><div class="circular ui icon button">01</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">02</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">03</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">04</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">05</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">06</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">07</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">08</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">09</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">10</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">11</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">12</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">13</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">14</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">15</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			<li><div class="circular ui icon button">16</div><span class="yl">12</span><input type="checkbox" name="" id=""/></li>
			
		</ul>
	</div>
	<p>
			<select name="" id="red_r_num">
				<option value="0">机选红球</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			<input type="checkbox" name="" id=""/>遗漏
			<input type="checkbox" name="" id=""/>定胆
			<a href="" class="clear">清空</a>
			<select name="" id="blue_r_num">
				<option value="0">机选蓝球</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
			</select>
			<input type="checkbox" name="" id=""/>遗漏
			<input type="checkbox" name="" id=""/>定胆
			<a href="" class="clear">清空</a>
	</p>
	<p class="bet">
		共选 <b class="red">0</b> 注, <b class="red">0</b> 元
	</p>
	<div class="bet">
		<div class="ui youtube button">确认选号</div>
	</div>
	<div class="ui yellow  message">目前奖池 <b class="red">5553</b> 万 <b class="red">4992</b> 元，至少可以开出 <b class="red">11</b> 注500万大奖
		<div class="ui compact menu code_basket">
		  <a class="item">
			<div class="floating ui red label">￥10</div>
			双色球号码篮
		  </a>
		</div>
	</div>
</article>