<div class="ui tiered menu main-menu">
  <div class="menu">
	<a class="item">&nbsp;&nbsp;&nbsp;&nbsp;</a>
	<a class="item active">选号投注</a>
	<a class="item">参与合买</a>
	<a class="item ">单式上传</a>
	<div class="right menu">
	  <div class="item">
		<div class="ui icon input">
		  <input type="text" placeholder="Search...">
		  <i class="search icon"></i>
		</div>
	  </div>
	  <div class="ui dropdown item">
		购彩大厅 <i class="icon dropdown"></i>
		<div class="menu ui transition hidden">
		  <a class="item"><i class="edit icon"></i> 双色球 </a>
		  <a class="item active"><i class="globe icon"></i> 大乐透</a>
		  <a class="item"><i class="settings icon"></i> 11选5 </a>
		</div>
	  </div>
	</div>
  </div>
  <div class="ui sub menu">
	<a class="item">普通投注</a>
	<a class="item">机选套餐</a>
	<a class="item">购彩套餐</a>
  </div>
</div>