<div class="ui menu">
	<a class="item" href="javascript:void(0);" style="width:60px;"></a>
	<a class="active item" href="#">普通投注</a>
	<a class="item" href="#">参与合买</a> 
	<a class="item" href="#">过关统计</a>
	<a class="item" href="#">定制跟单</a>
	<a class="item" href="#">走势图表</a>
	<div class="right menu" style="display:inline-block;">
		<div class="item">
		  <div class="ui icon input">
			<input type="text" placeholder="我要找……">
			<i class="search link icon"></i>
		  </div>
		</div>
		<div class="ui dropdown item">
		  购彩大厅 <i class="dropdown icon"></i>
		  <div class="menu">
			<a class="item" href="#">大乐透</a>
			<a class="item" href="#">福彩3D</a>
			<a class="item" href="#">七星彩</a>
		  </div>
		</div>
	</div>
</div>