<img src="http://img.qihoo.com/images/2008/2010/images-cp/ssq.gif" alt="双色球logo" class="logo"/>
<span class="tips">距 {{issue}} 期投注截止：</span>
<h3 class="countdown"><b class="hour red">--</b>小时<b class="minute red">--</b>分钟</h3>
<span class="warn">每周二、四、日 <strong class="red">21:35</strong> 开奖</span>
<span class="ui right profile">
	{{#if logined}}
	<i class="icon user"></i>
	<a href="#" class="username">{{username}}</a> | 
	<a href="#" class="exit">退出</a>
	{{else}}
	<a href="#" class="login">登录</a> | 
	<a href="#" class="register">注册</a>
	{{/if}}
</span>