<div class="ui red ribbon label" style="width: 173px;left: -1.2rem;">投注情报站</div>
<p>奖池：<b class="red">1</b>亿<b class="red">9013</b>万<b class="red">2569</b>元</p>
<dl>
	<dt><p>统计：第201448期</p></dt>
	<dd><p>一等：<b class="red">23</b>注</p></dd>
	<dd><p>每注：<b class="red">500</b>,<b class="red">2347</b>元</p></dd>
	<dd><p>二等：<b class="red">567</b>注</p></dd>
	<dd><p>每注：<b class="red">500</b>,<b class="red">2347</b>元</p></dd>
</dl>
<p>红球热码：<b class="red">01 04 11 22</b></p>
<p>红球推荐：<b class="red">01 04 11 22</b></p>
<p>蓝球热码：<b class="blue">03 04 11 12</b></p>
<p>蓝球推荐：<b class="blue">07 09 11 13</b></p>
<dl>
	<dt><p>论坛热帖：</p></dt>
	<dd><a href="#" class="hot">双色球杀号开始</a></dd>
	<dd><a href="#" class="hot">双色球杀号开始</a></dd>
	<dd><a href="#" class="hot">双色球杀号开始</a></dd>
	<dd><a href="#" class="hot">双色球杀号开始</a></dd>
	<dd><a href="#" class="hot">双色球杀号开始</a></dd>
	<dd><a href="#" class="hot">双色球杀号开始</a></dd>
	<dd><a href="#" class="hot">双色球杀号开始</a></dd>
	<dd><a href="#" class="hot">双色球杀号开始</a></dd>
</dl>