/* layout */
#doc{width:980px;height:778px;position:absolute;top:50%;left:50%;margin:-389px 0 0 -490px;background:url(../img/imac.png) no-repeat 0 0}
.header,.footer{height: 80px;width: 864px;background-color: #37DB79;margin: 38px 38px 0;}
.content{height:313px;line-height:100%;width:864px;color:#FFF;background-color:#00b74a;margin: 0 38px;}
.footer{margin:0 38px 38px;}
.header h2{font-size: 26px;color: #FFF;padding: 1em 0 0 1em;}
/* dot */
.dot:before {box-shadow: 0 0 7px 6px #BAFC58;width: 6px;background: #F0F9E3;transition: 0.1s;-webkit-transition: 0.1s;content: '';display: inline-block;margin: 28px;width: 8px;height: 8px;border-radius: 10px;}
/* profile */
.txt{width:200px;height:200px;float:left;margin-top:4em;border: 1px dashed #FEFE00;border-radius:5px;position:relative;padding:1.5em;}
.txt h3{position:absolute;top:-2em;left:80px;}
.first_txt{margin-left:60px;-webkit-transform: perspective(1200px) rotateY(40deg) !important;}
.second_txt{-webkit-transform: scale(0.92);}
.third_txt{-webkit-transform: perspective(1200px) rotateY(-40deg) !important;}
.divider{width:1px;height:200px;border:1px solid #ddd;float:left;margin-top:50px;display:none;}
/* bar */
.bar_area,.product,.other{list-style:none;}
.bar_area li{float:left;width:20px;height:160px;background-color:#ddd;margin:0 20px;}
.bar{width:20px;height:200px;background-color:red;}
.bar_first{margin-top:40px;height:160px;}
.bar_second{margin-top:50px;height:150px;}
.bar_third{margin-top:60px;height:140px;}
/* product */
.product li{float:left;width:45px;height:45px;margin:10px;}
/* other */
.other{padding: 2.5em 9em;}
.other li{float:left;margin-right:2em;}